.el-container {
  width: 100%;
  height: 100%;
  .el-aside {
    width: auto;
    overflow: inherit;
    background-color: var(--xx-sidebar-bg-color);
    border-right: 1px solid var(--xx-sidebar-bg-color);
    .menu {
      display: flex;
      flex-direction: column;
      height: 100%;
      transition: all 0.3s ease;
      .el-scrollbar {
        height: calc(100% - 60px);
        .el-menu {
          overflow-x: hidden;
          border-right: none;
        }
      }
    }
  }
  .el-header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding-left: 15px;
    padding-right: 0;
    background-color: #fff;
    border-bottom: 1px solid #f5f7fa;
    :deep(.tool-bar-ri) {
      .toolBar-icon,
      .username {
        color: var(--el-text-color-primary);
      }
    }
  }
}
